body{
    background-color: black;
    color: aliceblue;
}
h1{
    color:aliceblue
}
img{
    border-radius: 150px;
    
}
.overview{
    display: flex;
    flex-direction: column; /* or column, depending on your desired layout */
    justify-content: space-between;
    align-items: center;

}
a{
    text-decoration: none;
    background-color:white;
    color:black;
    width: 100px;
    text-align: center;
    border-radius: 30px;
}
a:hover{
    text-decoration: none;
    background-color:rgb(12, 7, 37);
    color:white;

}